{% extends 'SDLabSmartTableBundle::base.html.twig' %}

{% block body %}

<h2>Tests sdlab-smart-table Bundle</h2>
    
<a href="{{ path('table-base') }}" class="btn btn-default">Basic</a>
<a href="{{ path('table-jarvis') }}" class="btn btn-default">Jarvis widget</a>

{% endblock body %}